$popper-background-color: gold !default;
$popper-z-index:          1100 !default;

.angular-popper {
  background: $popper-background-color;
  color: #000;
  width: 320px;
  padding: 10px;
  z-index: $popper-z-index;

  &__close {
    position: absolute;
    top: 2px;
    right: 4px;
    color: #000;
    background: transparent;
    border: 0;

    &:active,
    &:focus {
      outline: 0;
    }
  }

  &__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
  }

  &.top,
  &.top-start,
  &.top-end {
    margin-bottom: 5px;

    .angular-popper__arrow {
      border-width: 5px 5px 0;
      border-color: $popper-background-color transparent transparent transparent;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.bottom,
  &.bottom-start,
  &.bottom-end {
    margin-top: 5px;

    .angular-popper__arrow {
      border-width: 0 5px 5px;
      border-color: transparent transparent $popper-background-color transparent;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.right,
  &.right-start,
  &.right-end {
    margin-left: 5px;

    .angular-popper__arrow {
      border-width: 5px 5px 5px 0;
      border-color: transparent $popper-background-color transparent transparent;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.left,
  &.left-start,
  &.left-end {
    margin-right: 5px;

    .angular-popper__arrow {
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent $popper-background-color;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
}
